@tailwind base;
@tailwind components;
@tailwind utilities;

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%; 
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

.react-flow__handle.target {
  top: 50%;
  pointer-events: none;
  opacity: 0;
}

.react-flow__node-group {
  padding: 0;
  border: dashed 1px;
  min-height: 38px;
}

.react-flow__node-default {
  padding: 0;
  margin: 1px;
  width: auto;
  min-width: 150px;
}